@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --background-body: #fff;
  --text-main: #36393b;
  --text-secondary: #6b6f72;
  --primary-color: #548e9b;
  --dark-background-body: #202122;
  --dark-text-main: #fff;
  --dark-text-secondary: #ccc;
}

::selection {
  background-color: var(--primary-color); /* Primary color */
  color: var(--text-main); /* Primary light mode text color */
}

@layer base {
  html {
    font-family: Merriweather, serif;
  }

  a {
    color: inherit;
    transition: color linear 0.15s;
  }

  a:hover {
    color: var(--primary-color);
  }

  p a {
    text-decoration: none;
    box-shadow: inset 0 -0.12em 0 var(--primary-color);
    -webkit-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  p a:hover {
    box-shadow: inset 0 -1.5em 0 var(--primary-color);
    color: #fff;
  }

  /* latin */
  @font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../../public/assets/fonts/va9B4kDNxMZdWfMOD5VnLK3eRhf6Xl7Glw.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../public/assets/fonts/u-440qyriQwlOrhSvowK_l5-fCZMdeX3rg.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../../public/assets/fonts/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6hPvhPQ.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
}

@layer components {
  .navlink {
    @apply relative ml-5 block min-w-[70px] px-[5px] py-2.5 text-center text-inherit no-underline before:absolute before:left-0 before:bottom-0 before:h-0.5 before:w-full before:scale-x-0 before:bg-text-secondary before:transition-transform before:duration-[0.3s] before:ease-[ease] before:content-[''] hover:before:md:scale-x-100 [&:not(.selected)]:opacity-70 hover:[&:not(.selected)]:text-primary;
  }
  .selected::before {
    @apply bg-primary md:scale-x-100;
  }
  .theme-toggle .checked {
    @apply text-text-primary opacity-100 dark:text-d-text-primary;
  }
  .theme-toggle .checked svg {
    @apply fill-text-primary dark:fill-d-text-primary;
  }
}
